<template>
  <div>
    <h1 v-if="!pokemon">Espere los cambios.....</h1>
    <div v-else>
      <h1>¿Quién es este pokémon?</h1>
       <!-- TODO: img-->
        <PokemonPicture
            :pokemon-id="pokemon.id"
            :show-pokemon="showPokemon" />
       <!-- TODO: opciones-->
       <PokemonOptions
            :pokemons="pokemonArr"
            @selection="chechAnswer" />
        <template v-if="showAnswer"> 
            <h1>{{ message }}</h1>
            <button @click="newGame">Nuevo juego</button>
        </template>
        <div>
            <div class="form-group">
                <label for="formGroupExampleInput">Logrocket public</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Logrocket public">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Lockrocket private</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Logrocket private" data-private>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import PokemonPicture from '@/components/PokemonPicture'
import PokemonOptions from '@/components/PokemonOptions'
import getPokemonOptions from '@/helpers/getPokemonOptions'
export default {
    components: {
        PokemonPicture,
        PokemonOptions
    },
    data() {
        return {
            pokemonArr: [],
            pokemon: null,
            showPokemon: false,
            showAnswer: false,
            message: ""
        }
    },
    methods: {
        async mixPokemonArray() {
            this.pokemonArr = await getPokemonOptions()
            const rndInt = Math.floor( Math.random() * 4)
            this.pokemon = this.pokemonArr[ rndInt ] 
        },
        chechAnswer(selectedId) {
            this.showAnswer = true
            if( this.pokemon.id === selectedId ) {
                this.showPokemon = true
                this.message = `Correcto, ${ this.pokemon.name }`
            } else {
                this.message = `Ups, era ${ this.pokemon.name}`
            }
        },
        newGame() {
            this.showPokemon = false
            this.showAnswer  = false
            this.prokemonArr = []
            this.pokemon     = null
            this.mixPokemonArray()
            
        }
    },
    mounted() {
        this.mixPokemonArray()
    }

}
</script>

<style>

</style>